body {
  font-family: 'Playfair Display', serif;
  background: #D6ECFA;
}

.product-page {
  display: flex;
  gap: 40px;
  padding: 50px;
}

.product-page img {
  width: 350px;
  border-radius: 15px;
}

.info {
  max-width: 400px;
}

.price .old {
  text-decoration: line-through;
  color: gray;
  margin-right: 10px;
}

.price .new {
  color: red;
  font-weight: bold;
}

button {
  margin-top: 20px;
  padding: 10px;
  background: #4da6ff;
  border: none;
  color: white;
  border-radius: 10px;
}