* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #2E3A44;
  background-color:#D6ECFA;

.top-bar {
  background: #BFD9EC;
  color: white;
  text-align: center;
  font-size: 13px;
  padding: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: white;
  position: relative;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo a {
  font-family: 'Great Vibes', cursive;
  font-size: 32px;
  color: black;
  text-decoration: none;
}

.search-box input {
  padding: 10px 15px;
  width: 220px;
  border-radius: 25px;
  border: 1px solid #ddd;
}

.icons {
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 12px;
  background: white;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.menu a {
  text-decoration: none;
  color: #2E3A44;
  font-size: 14px;
}

.menu a:hover {
  color: #cfa58d;
}

.hero {
  height: 100vh;
  background-image: url("idk.jpeg");
  background-size: cover;
  background-position: center;
  padding: 0 60px;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
  color: #000;
  max-width: 500px;
}

.hero-text h1 {
  font-family: 'Playfair Display', serif;
  font-size: 56px;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 30px;
}

.hero-text button {
  padding: 14px 28px;
  border: none;
  background: #BFD9EC;
  border-radius: 30px;
  cursor: pointer;
}
.products {
  padding: 80px 60px;
  text-align: center;
}

.product-grid {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.product {
  background: white;
  padding: 20px;
  width: 220px;
  border-radius: 12px;
}

.imgcleansers,
.imgwash,
.imgmoist,
.imgsun {
  width: 100%;
  height: 220px;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
}

.imgcleansers {
  background-image: url("oil.jpg");
}

.imgwash {
  background-image: url("wash.jpg.webp");
}

.imgmoist {
  background-image: url("345.webp");
}

.imgsun {
  background-image: url("crm.webp");
}

.bg-section {
  height: 500px;
  background-image: url("img3.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 30px 40px;
  color: #7D5E2D;
}

.philosophy {
  padding: 80px 60px;
  text-align: center;
  background: #CFE3F1;
}

footer {
  text-align: center;
  padding: 30px;
  background: white;
  font-size: 12px;
  margin-top: 40px;
}

.footer-nav {
  margin-bottom: 10px;
}

.footer-nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #2E3A44;
  font-size: 13px;
}